#cameraIcon {
font-size:70px;
color: gold;
margin-top: 25px;
}

.links{
    margin-left: 40px;
}

a{
    color: #131247;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    margin-top: 25px;
    margin-left: 20px;
}

#navBar {
    background-color: white;
    height: 200vh;
    text-align: left;
}

.fixed{
    position: fixed;
    top: 30px;
    /*width: 100%;
    opacity: 0.9; */
}

#linkOne {
    /* width: 100%; */
    height: 100vh;
    background-color: #e0e0e0;
    /* z-index: 1; */
    position: relative;
}

#linkTwo {
    /* width: 100%; */
    margin-top: 20px;
    height: 80vh;
    background-color: #e0e0e0;
    /* z-index: 1; */
    position: relative;
}

#linkThree {
    /* width: 100%; */
    height: 80vh;
    background-color: #e0e0e0;
    margin-top: 20px;
    /* z-index: 1; */
    position: relative;
}

#footer {
    background-color: #131247;
    height: 20vh;
    margin-top: 30px;
}

.appear{
    opacity: 1;
}

.gallery {
    z-index: 2;
}

img {
    filter: grayscale(100%);
    max-width: 40%;
    height: auto;
    margin-top: 45px;
    margin-left: 90px;
}

img:hover{
    filter: grayscale(0%);
}

.title {
    text-align: center;
}

.title {
    margin-top: 40px;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #131247;
}



@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)  and (orientation: portrait) {
    img {
        filter: grayscale(100%);
        max-width: 90%;
        height: auto;
        margin-top: 50px;
        margin-left: 50px;
    }

    #navBar {
        background-color: white;
        height: 15vh;
        width: 100%;
        text-align: center;
    }

    #linkOne{
        width: 100%;
        height: 145vh;
    }

    #linkTwo{
        width: 100%;
        height: 100vh;
    }

    #linkThree{
        width: 100%;
        height: 100vh;
    }

    a{
        color: #131247;
        font-size: 40px;
    }
    

}


@media only screen and (min-device-width: 411px) and (max-device-width: 731px)and (-webkit-min-device-pixel-ratio: 2)and (orientation: portrait) {

    img {
        filter: grayscale(100%);
        max-width: 90%;
        height: auto;
        margin-top: 35px;
        margin-left: 50px;
    }

    #navBar {
        background-color: white;
        height: 13vh;
        width: 100%;
        text-align: center;
    }

    #linkOne{
        width: 100%;
        height: 145vh;
    }

    #linkTwo{
        width: 100%;
        height: 100vh;
    }

    #linkThree{
        width: 100%;
        height: 100vh;
    }

    a{
        color: #131247;
        font-size: 40px;
    }
}




@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)and (orientation: portrait) { 
    img {
        filter: grayscale(100%);
        max-width: 90%;
        height: auto;
        margin-top: 35px;
        margin-left: 50px;
    }

    #navBar {
        background-color: white;
        height: 13vh;
        width: 100%;
        text-align: center;
    }

    #linkOne{
        width: 100%;
        height: 145vh;
    }

    #linkTwo{
        width: 100%;
        height: 100vh;
    }

    #linkThree{
        width: 100%;
        height: 100vh;
    }

    a{
        color: #131247;
        font-size: 40px;
    }


  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    img {
        filter: grayscale(100%);
        max-width: 90%;
        height: auto;
        margin-top: 35px;
        margin-left: 50px;
    }

    #navBar {
        background-color: white;
        height: 17vh;
        width: 100%;
        text-align: center;
    }

    #linkOne{
        width: 100%;
        height: 150vh;
    }

    #linkTwo{
        width: 100%;
        height: 100vh;
    }

    #linkThree{
        width: 100%;
        height: 100vh;
    }

    a{
        color: #131247;
        font-size: 40px;
    }

  }